<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FarmHouse.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4613609C1CEEA33400C5346B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>461360B01CEEA33400C5346B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>461360BB1CEEA33400C5346B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
